@{
	ViewBag.Title = "7 wonders";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
</head>

<body id="page-top">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div id="mainNav1" class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#/home">7 wonders</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#/home">Home</a></li>
					<li><a href="#/contact">Contact</a></li>
					<li><a href="#/customers">Customers</a></li>
					<li><a href="#/managers">Managers</a></li>
					<li><a href="#/countries">Countries</a></li>
					<li><a href="#/cities">Cities</a></li>
					<li><a href="#/airports">Airports</a></li>
					<li><a href="#/flights">Flights</a></li>
					<li><a href="#/tours">Tours</a></li>					
				</ul>
				<div style="margin-right:1%">
					@if (Request.IsAuthenticated)
					{
						using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
						{
							<ul class="nav navbar-nav navbar-right">
								@if (User.IsInRole("customer"))
								{
									<li>
										<a href="#/cabinet" id="cabinetLink">Cabinet</a>
									</li>
								}
								<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
							</ul>
						}
					}
					else
					{
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#/register" id="registerLink">Register</a></li>
							<li><a href="#/login" id="loginLink">Log in</a></li>
						</ul>
					}
				</div>
			</div>
		</div>
	</nav>
	<div id="mainDiv">
	</div>
</body>
</html>

<script src="../../Scripts/Home/Index.js"></script>
<script src="../../Scripts/sammy-0.7.5.js"></script>

<script>
    (function ($) {
        var app = $.sammy('#mainDiv', function () {

            this.get('#/', function () {
                this.app.swap('Click form!');
            });
            this.get('#/home', function () {
                this.partial('/Views/Search/Index.html');
            });
            this.get('#/register', function () {
                this.partial('/Views/Account/Register.html');
            });
            this.get('#/login', function () {
				this.partial('/Views/Account/Login.html');
			});
			this.get('#/contact', function () {
				this.partial('/Views/Home/Contact.html');
			});
			this.get('#/cabinet', function () {
			    this.partial('/Views/CustomerCabinet/Index.html');
			});
			this.get('#/customers', function () {
				this.partial('/Views/CustomersManagement/Index.html');
			});
			this.get('#/managers', function () {
				this.partial('/Views/ManagersManagement/Index.html');
			});
			this.get('#/flights', function () {
				this.partial('/Views/Flights/Index.html');
			});
			this.get('#/countries', function () {
				this.partial('/Views/Countries/Index.html');
			});
			this.get('#/cities', function () {
				this.partial('/Views/Cities/Index.html');
			});
			this.get('#/airports', function () {
				this.partial('/Views/Airports/Index.html');
			});
			this.get('#/tours', function () {
				this.partial('/Views/ToursManagement/Index.html');
			});
        });
        $(function () {
            app.run('#/home');
        });

    })(jQuery);
</script>